

*{
  margin: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.entry-list{
  display: flex;
  flex-direction: column;
  gap: 10px;  
}
.entry{
  border: 1px solid black;
  padding: 10px;
  border-radius: 10px;
}

form{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.diag-code{
  margin: 2px; padding: 7px;
  background-color: lightgray;
  border-radius: 20px;
}